.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 12px;
    background-color: var(--bg-secondary);
    padding: 8px;
    border-radius: 14px;
    min-height: 48px;
}